body {
    background: #c7fafa;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

li {
    display: inline-block;
    width: 5%;
    height: 2em;
    background-color: goldenrod;
    border-radius: 5px;
    margin: 5px;
    border-width: 0px 1px 1px 0px;
    background: #174D4D;
    color: #ffffff;
    border-style: solid;
    text-align: center;
    padding-top: 1%;
    font-size: xx-large;
    box-shadow: 2px 2px darkolivegreen;
}

#title {
    font-size: 58px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
    color: #03363D;
    border: 5px solid #03363D;
    padding: 5px 10px;
    display: inline-block;
}

nav {
    background-color: lightseagreen;
}

#select {
    box-shadow: 2px 2px darkolivegreen inset;
}

li#select {
    background-color: green (218, 165, 32, 0.677);
}

article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30vw;
}

div {
    column-count: 3;
}

#pa1 {
    color: blueviolet;
}

#pa2 {
    color: lawngreen;
    column-count: 1;
}

#pa3 {
    color: mediumaquamarine;
}

main {
    position: relative;
    top: 0px;
    left: 0px;
    width: 30%;
}

#fotoSuperior {
    width: 15%;
    float: right;
    padding-right: 20px;
}


@media screen and (max-width:800px) {
    body {
        background-color: yellow;
    }
}

@media screen and (orientation:portrait) {
    body {
        background-color: black;
    }

    * {
        color: white;
    }
}

@media screen and (min-width:600px) {
    li {
        width: 100px;
    }
}

@media screen and (min-width:900px) {
    li {
        width: 200px;
    }
}